.browse_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 10px;
    max-width: 900px;
}

#genre_browse_list {

}

#title_browse_list {

}

